#Header set Access-Control-Allow-Origin "*"

<Files ~ "^\.html">
    Order deny,allow
    Allow from all
</Files>

RewriteEngine on
RewriteRule ^$  index.php [L]

RewriteCond %{REQUEST_FILENAME}  -d
RewriteRule  ^.*$  -  [L]

RewriteCond %{REQUEST_FILENAME}  -f
RewriteRule  ^.*$  -  [L]

RewriteRule ^.html templates/home.html [L]

RewriteRule ^.*$  index.php [L]
