<?php
    $resource_uri = $this->desc->get_primary_resource_uri();
    $title = $this->get_title($resource_uri);

    $sC = $this->sC;
    $c  = $sC->getConfig();

    $entitySetId = $sC->getEntitySetId();

    echo '<?xml version="1.0" encoding="utf-8"?>'."\n";
?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML+RDFa 1.0//EN" "http://www.w3.org/MarkUp/DTD/xhtml-rdfa-1.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:xsd ="http://www.w3.org/2001/XMLSchema#"
  xmlns:owl="http://www.w3.org/2002/07/owl#"
  xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#"
  xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
  xmlns:dcterms="http://purl.org/dc/terms/"
  xmlns:vcard="http://www.w3.org/2006/vcard/ns#"
  xmlns:foaf="http://xmlns.com/foaf/0.1/"  
  xmlns:doap="http://usefulinc.com/ns/doap#"
  xmlns:geo="http://www.w3.org/2003/01/geo/wgs84_pos#">
    <head>
        <title><?php echo $c['site']['name'];?></title>
<?php
    $fileVersion = 'version=0.0.2';

    $favicon_theme = SITE_DIR.'theme/'.$c['site']['theme'].'/images/icons/favicon.ico';

    if (file_exists($favicon_theme)) {
        $favicon = $c['site']['base'].'/theme/'.$c['site']['theme'].'/images/icons/favicon.ico';
    }
    else {
        $favicon = $c['site']['base'].'/favicon.ico';
    }
?>

        <link rel="shortcut icon" href="<?php echo $favicon; ?>"/>
        <link rel="stylesheet" type="text/css" href="<?php echo $c['site']['base'].'/theme/'.$c['site']['theme'].'/css/display.css?'.$fileVersion; ?>" media="all"/>

        <meta name="description" content="Transparency International data published using the Linked Data design principles. It contains Corruption Perceptions Index and Sources data."/>
        <meta name="author" content="http://csarven.ca/#i"/>
    </head>

    <body id="<?php echo $entitySetId; ?>">
        <div id="wrap">
<?php require_once SITE_DIR . 'templates/header.html'; ?>
            <div id="core">

                <div id="content">
                    <h1>Transparency International Linked Data</h1>

                    <div id="content_inner">
                        <div class="entry-content">
                            <p>This site contains <a href="http://transparency.org">Transparency International</a> data published using the Linked Data design principles. There is an in-depth explanation <a href="/about">about</a> this site. Or check these out to get a quick feel for what's here and some of the things you can find out:</p>

                            <ul>
                                <li>O <a href="http://transparency.270a.info/classification/country/CA">Canada</a>! 
(links to DBpedia, Eurostat Linked Data, Geonames, and World Bank Linked Data).</li>
                                <li><a href="http://transparency.270a.info/dataset">Transparency International datasets (Corruption Perceptions Index and original Sources)</a>.</li>
                                <li><a href="http://transparency.270a.info/sparql?query=PREFIX+skos%3A+%3Chttp%3A%2F%2Fwww.w3.org%2F2004%2F02%2Fskos%2Fcore%23%3E%0D%0APREFIX+sdmx-dimension%3A+%3Chttp%3A%2F%2Fpurl.org%2Flinked-data%2Fsdmx%2F2009%2Fdimension%23%3E%0D%0APREFIX+year%3A+%3Chttp%3A%2F%2Freference.data.gov.uk%2Fid%2Fyear%2F%3E%0D%0APREFIX+property%3A+%3Chttp%3A%2F%2Ftransparency.270a.info%2Fproperty%2F%3E%0D%0A%0D%0ASELECT+%3Frank+%3FcountryLabel%0D%0AWHERE+%7B%0D%0A%3Fs+sdmx-dimension%3ArefPeriod+year%3A2011+%3B%0D%0A+++property%3Arank+%3Frank+%3B%0D%0A+++sdmx-dimension%3ArefArea+%3FcountryURI+%3B%0D%0A+++.%0D%0A%3FcountryURI+skos%3AprefLabel+%3FcountryLabel+.%0D%0A%7D%0D%0AORDER+BY+%3Frank&default-graph-uri=&output=xml&stylesheet=%2Fxml-to-html.xsl">Query result for Corruption Perceptions Index 2011 country ranking</a></li>
                                <li><a href="http://transparency.270a.info/classification/country/CH">Switzerland</a> ranked 5th (2009), 8th (2010), <a href="http://transparency.270a.info/dataset/corruption-perceptions-index/2011/CH">8th (2011)</a>. You can find out the Corruption Perceptions Index country ranking by simply replacing <code>CH</code> code (which is the code for Switzerland) with the country code you want (take a look at the <a href="http://transparency.270a.info/classification/country">country list</a>), and one of the years from 2009, 2010, or 2011 e.g., <a href="http://transparency.270a.info/dataset/corruption-perceptions-index/2010/CA">Canada's ranking in 2010</a>.</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <dl id="page_notice">
                    <dt>Page notice</dt>
                    <dd>
                        <ul>
                            <li class="notice_updated">Last updated on 2012-10-03.</li>
                        </ul>
                    </dd>
                </dl>
            </div>

            <div id="footer">
            </div>

        </div>
<?php require_once SITE_DIR . 'templates/foot.html'; ?>
